## Transformations

In [6]:
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
import seaborn as sns
import numpy as np

In [7]:
cal = pd.read_csv('calories_consumed.csv')

In [8]:
cal.sample(5)

    Weight gained (grams)  Calories Consumed
6                     128               1400
3                     200               2200
2                     900               3400
10                    100               1670
1                     200               2300

In [9]:
cal.shape

(14, 2)

In [10]:
cal.dtypes

Weight gained (grams)    int64
Calories Consumed        int64
dtype: object

### Normalization

In [11]:
### Normalization function - Custom Function
# Range converts to: 0 to 1
def norm_func(i):
    x = (i-i.min())/(i.max()-i.min())
    return(x)
cal_norm = norm_func(cal)
cal_norm

    Weight gained (grams)  Calories Consumed
0                0.044316              0.040
1                0.132948              0.360
2                0.807322              0.800
3                0.132948              0.320
4                0.229287              0.440
5                0.046243              0.080
6                0.063584              0.000
7                0.000000              0.200
8                0.518304              0.560
9                1.000000              1.000
10               0.036609              0.108
11               0.084778              0.200
12               0.277457              0.520
13               0.614644              0.640

In [12]:
cal_norm.describe()

       Weight gained (grams)  Calories Consumed
count              14.000000          14.000000
mean                0.284889           0.376286
std                 0.321476           0.300844
min                 0.000000           0.000000
25%                 0.050578           0.131000
50%                 0.132948           0.340000
75%                 0.458092           0.550000
max                 1.000000           1.000000

### Standardization

In [16]:
### Standardization (z = (x - u) / s)
from sklearn.preprocessing import StandardScaler
# Initialise the Scaler
scaler = StandardScaler()
# To scale data
cal_std = scaler.fit_transform(cal)
# Convert the array back to a dataframe
cal_std_df = pd.DataFrame(cal_std)
cal_std_df.columns = cal.columns
cal_std_df.describe()

       Weight gained (grams)  Calories Consumed
count           1.400000e+01       1.400000e+01
mean           -4.758099e-17      -7.137148e-17
std             1.037749e+00       1.037749e+00
min            -9.196408e-01      -1.297983e+00
25%            -7.563712e-01      -8.461036e-01
50%            -4.904751e-01      -1.251662e-01
75%             5.591149e-01       5.992207e-01
max             2.308432e+00       2.151478e+00

In [15]:
#Z scores
cal_std_df

    Weight gained (grams)  Calories Consumed
0               -0.776586          -1.160005
1               -0.490475          -0.056177
2                1.686452           1.461586
3               -0.490475          -0.194155
4               -0.179485           0.219780
5               -0.770366          -1.022026
6               -0.714388          -1.297983
7               -0.919641          -0.608091
8                0.753483           0.633715
9                2.308432           2.151478
10              -0.801465          -0.925441
11              -0.645970          -0.608091
12              -0.023991           0.495737
13               1.064473           0.909672